<div class="parent-container d-flex">

    <div class="container">
        <div class="row border">
            <div class="col department building-C">C</div>
        </div>
        <div class="row border">
            <div class="spacer-75"></div>
        </div>
        <div class="row border">

            <div class="col department building-B">B</div>
        </div>

        <div class="spacer-75"></div>
        <div class="row justify-content-end">
            <div class="col-6 department building-A">A</div>
        </div>
    </div>
    <div class="container w-5">
        <div class="row border">
            <div class="col department mainhallway">Hallway</div>
        </div>
    </div>
    <div class="container">
        <div class="row border">
            <div class="col department building-F">F</div>
        </div>
        <div class="spacer-45"></div>
        <div class="row border">
            <div class="col department building-E">E</div>
        </div>
        <div class="spacer-45"></div>
        <div class="row border">
            <div class="col department building-D">D</div>
        </div>

    </div>
    <div class="container w-20">
        <div class="spacer-45">
        </div>
        <div class="row border">

            <div class="col department building-G">G</div>
        </div>

    </div>
</div>
<div class="spacer-45"></div>
<div class="parent-container d-flex">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-7 department building-A1">A1</div>
        </div>
    </div>
</div>
