
<div class="building-row">
    <div class="room room-normal" *ngFor="let room of ['B.26','B.24','B.16','B.14']"><app-room [roomName]=room [room]="FindRoomByName(room)"></app-room></div>

    <div class="room room-normal room-halfLenght"><app-room [roomName]="'B.12'" [room]="FindRoomByName('B.12')"></app-room></div>
    <div class="room room-normal room-halfLenght"><app-room [roomName]="'B.10'" [room]="FindRoomByName('B.10')"></app-room></div> 
    <div class="room room-normal room-halfLenght">B.08</div>
    <div class="room room-normal room-halfLenght">B.02</div>
</div>